* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.off-white {
    background-color: #eee !important;
}

.gray-bg {
    background-color: #ccc;
}

.gray {
    color: #ccc;
}

img {
    max-width: 150px;
}

.navs {
    background-color: white !important;
    color: black ;
}

.active-nav {
    background-color: black !important;
    color: white;
}

.col-9 {
    height: fit-content;
}

.smaller {
    font-size: small;
}

#search-div {
    border-radius: 50% !important;
}

.core-comps {
    display: none;
}

.active-comp {
    display: block !important;
}

.dashboard-core {
    min-height: 100px;
}

.dashboard-core strong {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.dashboard-core svg {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.card-md {
    height: 440px;
    width: 230px;
}

.card-sm {
    width: 80%;
    word-wrap: normal;
}

.flex-row span {
        font-size: smaller;
}

.book-lg {
    background-color: white;
    display: none;
}

table {
    width: 95%;
}

.t-wrap {
    width: 70% !important;
    border: transparent;
    border-radius: 50%;
}

.alert {
    position: fixed;
    top: 13%;
    left: 61vw;
    transform: translateX(-50%);
    background-color: white;
    height: calc(920px - 85vw);
    min-height: 450px;
    max-width: 620px;
    display: none;
}

.green {
    color: #7DC68D;
}

.red {
    color: #DB8E8E;
}

.bg-white {
    background-color: #fff;
}

.alert-btn {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 576px){
    .dashboard-core {
        min-height: 90px;
    }

    .dashboard-core p {
        font-size: 15px !important;
    }

    .card-md {
        width: 32vw;
        height: calc(210px + 30vw);
    }

    .card-sm {
        width: 70%;
    }

    .alert {
        height: 520px;
        left: 61vw;
    }

    .alert-text {
        line-height: 2;
    }
}

@media screen and (min-width: 768px){
    .dashboard-core {
        min-height: 110px;
    }

    .dashboard-core strong {
        left: 7px;
        bottom: 7px;
    }

    .rec-head {
        font-size: 17px;
        font-weight: 500;
    }

    .card-md {
        width: 25vw;
        height: calc(250px + 20vw);
    }
    
    #book-lg-img {
        width: 37vw;
        max-width: 350px;
    }

    .alert {
        left: 57vw;
    }

    .alert-text {
        font-size: 17px;
    }
}

@media screen and (min-width: 992px) {
    .card-md {
        width: auto;
        height: calc(150px + 20vw);
    }

    .card-sm {
        width: 95%;
    }
}